.header{
    background-color: lightslategrey !important ;
    height:10vh;
    width: 100%;
    position: fixed;
    top: 0;
    margin-left: 0%;
}
.row{
    display: flex !important;
    flex-direction: row!important;
    justify-content: space-around!important;
    align-items: center!important;
    flex-wrap: wrap!important;
    
}