

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    background-color: #cacccf;
  }
  .row{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
  }
  .col{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    
  } 


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    
    .terminal {
      width: 100%;
    }

    
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }